  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>Статистика<small>
      </h1>
    </section>
    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="info-box">
            <a href="/law/statistics/clients/joined"><span class="info-box-icon bg-yellow"><i class="ion ion-ios-people-outline"></i></span></a>
            <div class="info-box-content">
              <span class="info-box-text">Новые клиенты</span>
              <span class="info-box-number"><small>&nbsp;</small></span>
            </div>
          </div>
        </div>
<!--         <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-green"><i class="ion ion-ios-people-outline"></i></span>
            <div class="info-box-content">
              <span class="info-box-text">Активные</span>
              <span class="info-box-number">1</span>
            </div>
          </div>
        </div> -->
<!--         <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-red"><i class="ion ion-ios-people-outline"></i></span>
            <div class="info-box-content">
              <span class="info-box-text">Не активные</span>
              <span class="info-box-number">0</span>
            </div>
          </div>
        </div> -->
<!--         <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-aqua"><i class="glyphicon glyphicon-th-list"></i></span>
            <div class="info-box-content">
              <span class="info-box-text">Тарифы</span>
              <span class="info-box-number"><?php //echo $this->getCountTarifs(); ?></span>
            </div>
          </div>
        </div> -->
<!--         <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-navy"><i class="glyphicon glyphicon-th-list"></i></span>
            <div class="info-box-content">
              <span class="info-box-text">Подключенные</span>
              <span class="info-box-number"><?php //echo $this->getCountUsedTarifs(); ?></span>
            </div>
          </div>
        </div> -->
<!--         <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-gray"><i class="glyphicon glyphicon-th-list"></i></span>
            <div class="info-box-content">
              <span class="info-box-text">Не подключенные</span>
              <span class="info-box-number"><?php //echo $this->getCountNousedTarifs(); ?></span>
            </div>
          </div>
        </div> -->
			</div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
