<body class="hold-transition login-page">
<div class="login-box">
  <div class="login-logo">
    <b>Добро </b>пожаловать!
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">Войдите, что бы начать работу.</p>

    <form action="" method="post">
      <div class="form-group has-feedback">
        <input type="text" class="form-control info" name="lgn" placeholder="Логин">
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input type="password" class="form-control info" name="pwd" placeholder="Пароль">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="row">
        <div class="col-xs-8">
          <div class="checkbox icheck"><input name='authen' value='' type='hidden'></div>
        </div>
        <!-- /.col -->
        <div class="col-xs-4">
          <button type="submit" name="login" id="login" class="btn btn-primary btn-block btn-flat">Вход</button>
        </div>
        <!-- /.col -->
      </div>
    </form>
  </div>
  <!-- /.login-box-body -->
</div>
<!-- /.login-box -->