  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>ДКП - формирование файла<small>
      </h1>
    </section>
		<section class="content-header">
			<div class="row">
				<div class="col-md-12">
          <div class="box box-primary" id="generateDkpDiv">
            <div class="box-header">
              <h3 class="box-title">Сформировать за: (выберите дату)</h3>
            </div>
            <div class="box-body">
							<form action="" method="POST" class="form-horizontal">
								<div class="form-group col-md-12">
									<div class="input-group">
										<div class="input-group-addon">
											<i class="fa fa-calendar"></i>
										</div>
										<input type="text" name='daterange' class="form-control pull-center" id="reservationDkp">
										<span class="input-group-btn">
											<button type="submit" class="btn btn-info btn-flat" name="generateDkp" id="generateDkp">Генерировать</button>
										</span>
									</div>
								</div>
							</form>
            </div>
          </div>
        </div>
			</div>
		</section>
  </div>
  <!-- /.content-wrapper -->
