<footer id="footer" class="footer">
	<div class="footer-top">
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-sm-4 col-xs-12">
					<div class="single-widget address">
						<h2>Наши контакты</h2>
						<p></p>
						<ul class="list">
						    <a href="tel:+79521021575"><li><i class="fa fa-phone"></i>Телефон: 8-951-548-16-49 </li></a>
							<a href="tel:+79521021575"><li><i class="fa fa-phone"></i>Телефон технической поддержки: 8-951-548-16-49</li></a>
							<li><i class="fa fa-envelope"></i>Email: <a href="mailto:tehinternet@yandex.ru">tehinternet@yandex.ru</a></li>
							<li><i class="fa fa-map-o"></i>Адрес: Воронежская область, с. Ямное, ул.Суворова 8</li>
							<li><i class="fa fa-map-o"></i>ИНН: 366219710440</li>
						</ul>
						<ul class="social">
							<li><a href="#"><i class="fa fa-vk"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-12">
					<div class="single-widget links">
						<h2>Навигация по сайту</h2>
						<ul class="list">
							<li><a href="/"><i class="fa fa-angle-right"></i>Главная страница</a></li>
							<li><a href="#pricing-table"><i class="fa fa-angle-right"></i>Цены</a></li>
							<li><a href="#footer"><i class="fa fa-angle-right"></i>Контакты</a></li>
							<li><a href="/index/login"><i class="fa fa-angle-right"></i>Личный кабинет</a></li>
							<li><a href="/index/docs/view/politika_bezopasnosti_pri_oplate_kartoj"><i class="fa fa-angle-right"></i>Политика безопасности при оплате картой</a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-12">
					<h2>&nbsp;</h2>
					<div class="icon">
						<img src="/template/dist/img/logo3h.png">
					</div>
				</div>
				<div class="col-md-12 col-sm-12 col-xs-12">&nbsp;</div>
				<div class="col-md-12 col-sm-12 col-xs-12">
					<h4><center>«Уважаемые Клиенты, информируем Вас о том, что при запросе возврата денежных средств при отказе от покупки, возврат производится исключительно на ту же банковскую карту, с которой была произведена оплата»</center></h4>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-bottom">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<div class="copyright">
						<p>© Copyright © 2019. Все права защищены</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
</div>
<!-- Bootstrap 3.3.7 -->
<script src="/template/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- iCheck -->
<script src="/template/plugins/iCheck/icheck.min.js"></script>
<!-- AdminLTE App -->
<script src="/template/dist/js/adminlte.min.js"></script>
<!-- mainjs -->
<script src="/template/dist/js/main.js?ver=1.3"></script>
</body>
</html>