<!--Слайдер-->
<section class="hero-area">
	<div class="slider-one">
		<div class="single-slider" style="background-image:url('/template/dist/img/slider/slider-bg2.jpg')">

		</div>		
							</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		</div>
	</div>
</section>

<!--3 блока под слайдером-->
<section class="features">

	<div class="container">
		<div class="row">
			<div class="col-md-4 col-sm-4 col-xs-12 features-single">
				<center><img src="/template/dist/img/netseti.png"></center>
				<h2>01/ Оставить заявку</h2>
				<p>оператору по телефону</p>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-12 features-single active ">
				<center><img src="/template/dist/img/netseti2.png"></center>
				<h2>02/ Замер уровня сигнала</h2>
				<p>монтажник определяет входящий уровень сигнала. </p>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-12 features-single">
				<center><img src="/template/dist/img/netseti3.png"></center>
				<h2>03/ Запуск оборудования</h2>
				<p>Настройка репитера</p>
			</div>
		</div>
	</div>
</section>

<!--Наши услуги-->
<section id="services" class="services section">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="section-title">
					<div class="sec-t">Что мы предлагаем !</div>
					
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-sm-6 col-xs-12">
				<div class="single-services">
					<div class="icon"><center><img src="/template/dist/img/lk.png"></center></div>
					<div class="icon two"></i></div>
					<h2><a href="/">Личный кабинет</a></h2>
					<p>Возможность удаленно получать информацию о состоянии уровня сигнала, активности Интернет-соединения, из любой точки мира.<br>
				</div>
			</div>
			<div class="col-md-4 col-sm-6 col-xs-12">
				<div class="single-services">
					<div class="icon"><center><img src="/template/dist/img/poiskimont.png"></center></div>
					<div class="icon two"></i></div>
					<h2><a href="">Монтажные работы / Замер уровня сигнала</a></h2>
					<p>Монтажные работы по установке, настройке и запуску в эксплуатацию телекоммуникационного оборудования. <br>Определение оператора связи с устойчивым сигналом 3G/4G путем замера уровня сигнала или на основании данных полученных от операторов связи.</p>
					<br><br>
				</div>
			</div>
			<div class="col-md-4 col-sm-6 col-xs-12">
				<div class="single-services">
					<div class="icon"><center><img src="/template/dist/img/tp.png"></center></div>
					<div class="icon two"></div>
					<h2><a href="">Техническая поддержка по работе оборудования</a></h2>
					<p>Круглосуточный контакт-центр 24/7</p>
					
				</div>
			</div>
			
		</div>
	</div>
</section>



<!--Наши цены-->
<section id="pricing-table" class="pricing-table section center bg">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="section-title">
					<div class="sec-t">Тарифы на наши услуги:</div>
                     <h4>*Условия пакетных предложений
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-sm-12 col-xs-12">
				<div class="single-table">
					<div class="bg-icon"><i class="fa fa-bicycle"></i></div>
					<div class="table-head">
						<div class="price">
							<p class="amount">750 руб./месяц.</p>
						</div>
						<h2 class="title">"Базовый пакет"</h2>
					</div>
					<ul class="table-list">
					    <li><i class="fa fa-angle-right"></i>Техническая поддержка контакт-центра 24/7.</li>
						<li><i class="fa fa-angle-right"></i>Личный кабинет.</li>
						<li><i class="fa fa-angle-right"></i>Настройка и запуск в эксплуатацию идентификационного модуля (сим-карты).</li>
						<li><i class="fa fa-angle-right"></i>Сервисное обслуживание в информационной системе Оператора связи.</li>
						<li class="cross"><i class="fa fa-remove"></i>Информация о состоянии уровня сигнала, активности Интернет-соединения, через личный кабинет из любой точки мира.</li>
						
						
					</ul>
					<div class="table-bottom">
						<a class="btn primary" href="/index/registration"><i class="fa fa-shopping-cart"></i>Заказать сейчас</a>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-12 col-xs-12">
				<div class="single-table active">
					<div class="bg-icon"><i class="fa fa-truck"></i></div>
					<div class="table-head">
						<div class="price">
							<p class="amount">950 руб./месяц.</p>
						</div>
						<a href=""><h2 class="title">"Обычный пакет"</h2></a>
					</div>
					<ul class="table-list">
						<li><i class="fa fa-angle-right"></i>Техническая поддержка контакт-центра 24/7.</li>
						<li><i class="fa fa-angle-right"></i>Личный кабинет.</li>
						<li><i class="fa fa-angle-right"></i>Настройка и запуск в эксплуатацию идентификационного модуля (сим-карты).</li>
						<li><i class="fa fa-angle-right"></i>Сервисное обслуживание в информационной системе Оператора связи.</li>
						<li><i class="fa fa-angle-right"></i>Информация о состоянии уровня сигнала, активности Интернет-соединения, через личный кабинет из любой точки мира.</li>
					</ul>
					<div class="table-bottom"><a class="btn primary" href="/index/registration"><i class="fa fa-shopping-cart"></i>Заказать сейчас</a></div>
				</div>
			</div>
			<div class="col-md-4 col-sm-12 col-xs-12">
				<div class="single-table">
					<div class="bg-icon"><i class="fa fa-plane"></i></div>
					<div class="table-head">
						<div class="price">
							<p class="amount">1500 руб./месяц.</p>
						</div>
						<a href=""><h2 class="title">"Максимальный пакет"</h2></a>
					</div>
					<ul class="table-list">
						<li><i class="fa fa-angle-right"></i>Техническая поддержка контакт-центра 24/7.</li>
						<li><i class="fa fa-angle-right"></i>Личный кабинет.</li>
						<li><i class="fa fa-angle-right"></i>Настройка и запуск в эксплуатацию идентификационного модуля (сим-карты).</li>
						<li><i class="fa fa-angle-right"></i>Сервисное обслуживание в информационной системе Оператора связи.</li>
						<li><i class="fa fa-angle-right"></i>Техническое обслуживание оборудования.</li>
						<li><i class="fa fa-angle-right"></i>Информация о состоянии уровня сигнала, активности Интернет-соединения, через личный кабинет из любой точки мира.</li>
						
						
					</ul>
					<div class="table-bottom"><a class="btn primary" href="/index/registration"><i class="fa fa-shopping-cart"></i>Заказать сейчас</a></div>
				</div>
			</div>
		</div>
             
	</div>

</section>

<!-- <section class="call-to-action">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="call-to-main">
					<h2>ПОДКЛЮЧИТЬ ИНТЕРНЕТ и ТВ</h2>
<a href="#callbackwidget" class="btn primary"><i class="fa fa-send"></i>ХОЧУ ИНТЕРНЕТ И ТВ</i></a>
					<script>WBK.sendCrmLead(14597, {'name' : name, 'email' : email, 'phone' : phone, 'comment' : comment});</script>
				</div>
			</div>
		</div>
	</div>
</section> -->